<div class="container">
  <div class="row">
    <div id="filter-panel" class="collapse filter-panel">
      <div class="panel panel-default">
        <div class="panel-body">
          <!--<form class="form-inline" role="form">-->
          <%= form_for [:background, :manage, Loan.new], url: background_high_search_loan_full_path, method: :post, html: {class: 'form-inline'} do |f| %>
              <div class="form-group">
                <label class="filter-col" style="margin-right:0;" for="pref-perpage">借款金额</label>
                <%= f.select :search_mount, %w(不限 1000以下 1000到3000 3000到8000 8000以上), {}, {class: 'form-control'} %>
                <!--<select id="pref-perpage" class="form-control">-->
                <!--<option selected="selected" value="不限">不限</option>-->
                <!--<option value="男">男</option>-->
                <!--<option value="女">女</option>-->
                <!--</select>-->
              </div> <!-- form group [rows] -->
              <div class="form-group">
                <label class="filter-col" style="margin-right:0;" for="pref-orderby">借款时间</label>
                <%= f.select :search_time, %w(不限 一周内 两周内 一个月内 三个月内 三个月以上), {}, {class: 'form-control'} %>
                <!--<select id="pref-orderby" class="form-control">-->
                <!--<option selected="selected">一周内</option>-->
                <!--<option>两周内</option>-->
                <!--<option value="">一个月内</option>-->
                <!--</select>-->
              </div> <!-- form group [order by] -->
              <div class="form-group">
                <label class="filter-col" style="margin-right:0;" for="pref-orderby">借款用途</label>
                <%= f.select :search_use, %w(不限 学费 车贷 数码贷款 其他), {}, {class: 'form-control'} %>
                <!--<select id="pref-orderby" class="form-control">-->
                <!--<option selected="selected">一周内</option>-->
                <!--<option>两周内</option>-->
                <!--<option value="">一个月内</option>-->
                <!--</select>-->
              </div> <!-- form group [order by] -->
              <div class="form-group">
                <label class="filter-col" style="margin-right:0;" for="pref-orderby">还款周期</label>
                <%= f.select :search_period, %w(不限 3个月内 3到6个月 6到12个月 1年以上), {}, {class: 'form-control'} %>
                <!--<select id="pref-orderby" class="form-control">-->
                <!--<option selected="selected">一周内</option>-->
                <!--<option>两周内</option>-->
                <!--<option value="">一个月内</option>-->
                <!--</select>-->
              </div> <!-- form group [order by] -->
              <div class="form-group">
                <label class="filter-col" style="margin-right:0;" for="pref-search">搜索:</label>
                <%= f.text_field :search_text, class: 'form-control input-sm' %>
                <!--<input type="text" class="form-control input-sm" id="pref-search">-->
              </div><!-- form group [search] -->

              <div class="form-group">
                <!--<div class="checkbox" style="margin-left:10px; margin-right:10px;">-->
                <!--<label><input type="checkbox"> Ingested</label>-->
                <!--</div>-->
                <!--<div class="checkbox" style="margin-left:10px; margin-right:10px;">-->
                <!--<label><input type="checkbox"> Automated</label>-->
                <!--</div>-->
                <!--<button type="submit" class="btn btn-default filter-col">-->
                <!--<span class="glyphicon glyphicon-record"></span> Save Settings-->
                <!--</button>-->
                <%= f.submit '搜索', class: 'btn btn-default' %>
              </div>
              <!--</form>-->
          <% end %>
        </div>
      </div>
    </div>

    <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#filter-panel">
      <span class="glyphicon glyphicon-cog"></span> 高级搜索
    </button>
  </div>
</div>