<% provide(:title, '修改用户资料') %>

<!-- EDIT FORM -->
<div class="text-center" style="padding:50px 0">
  <div class="logo">修改您的资料</div>
  <!-- Main Form -->
  <div class="login-form-1">
    <%= form_for @user do |f| %>
        <%= f.hidden_field :is_head, value: 'false' %>
        <div class="login-form-main-message"></div>
        <div class="main-login-form">
          <div class="login-group">
            <div class="form-group field">
              <%= f.email_field :email, autofocus: true, placeholder: 'email', class: 'form-control', disabled: 'disabled' %>
            </div>

            <div class="form-group field">
              <%= f.text_field :name, class: 'form-control' %>
            </div>

            <div class="form-group field">
              <%= f.text_field :phone_number, autocomplete: "off", class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.text_field :address, class: 'form-control', placeholder: '家庭住址' %>
            </div>

            <div class="form-group">
              <%= f.text_field :id_card, class: 'form-control', placeholder: '身份证号码' %>
            </div>

            <div class="form-group login-group-checkbox">
              <!--<input type="radio" class="" id="male" placeholder="username">-->
              <%= f.radio_button :sex, '男', checked: true, id: 'user_sex_male' %>
              <%= f.label :sex_male, '男' %>

              <%= f.radio_button :sex, '女', id: 'user_sex_female' %>
              <%= f.label :sex_female, '女' %>
              <!--<label for="male">男</label>-->

              <!--<input type="radio" class="" id="female" placeholder="username">-->
              <!--<label for="female">女</label>-->
            </div>

          </div>
          <!--<button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>-->
          <div class="actions">
            <%= f.submit '修改', class: 'login-button' do %>
                <i class="fa fa-chevron-right"></i>
            <% end %>
          </div>
        </div>
    <% end %>
  </div>
  <!-- end:Main Form -->
</div>

<%= link_to 'Back', :back %>




