<!DOCTYPE html>
<html>
<head>
  <title>后台</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body id="body">

<div class="container">

  <h1>这里是后台页面</h1>

  <%= yield %>


</div>

</body>
</html>
